{% extends "base.html" %}

{% block content %}
    <h1>Add Blog Entry</h1>
    <form action="/addentry" method='POST'>
            <label>
                Title of New Blog:
                <input type="text" name='blog_title' value="{{blog_title}}" />
            </label>
            <p class="error">{{title_error}}</p>
            <br>
            <br>
            <label>
                Your New Blog:
                <br>
                <textarea name="blog_post" type="textarea" rows="10" cols="50">{{blog_post}}</textarea>
            </label>
            <p class="error">{{blog_entry_error}}</p>
            <input type="submit" value='Submit' />
        </form>

    <hr />

{% endblock %}